{% extends 'header.html' %}
{% load static %}
{% block content %} 

  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">About Package</h1>
            <p class="text-white">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <center>

    {% if msg %}
    <p>{{msg}}</p>
    {% endif %}

  </center>
  
  <div class="untree_co-section">
    <div class="container my-5">
      <div class="mb-5">
        <div class="owl-single dots-absolute owl-carousel">
          <img src="{{package.pimage.url}}" alt="Free HTML Template by Untree.co" class="img-fluid">
        </div>
      </div>

      <div class="row justify-content-center">

        <div class="col-lg-4">
          <div class="custom-block" data-aos="fade-up">
            <h2 class="section-title">Accordion</h2>
            <div class="custom-accordion" id="accordion_1">
              <div class="accordion-item">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How to download and register?</button>
                </h2>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
                  <div class="accordion-body">
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                  </div>
                </div>
              </div> <!-- .accordion-item -->

              <div class="accordion-item">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How to create your paypal account?</button>
                </h2>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
                  <div class="accordion-body">
                    A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                  </div>
                </div>
              </div> <!-- .accordion-item -->
              <div class="accordion-item">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How to link your paypal and bank account?</button>
                </h2>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
                  <div class="accordion-body">
                    When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
                  </div>
                </div>

              </div> <!-- .accordion-item -->

            </div>
          </div> <!-- END .custom-block -->
          <div class="custom-block" data-aos="fade-up">
            <h2 class="section-title">Gallery</h2>

            {% if image %}
            <div class="row gutter-v2 gallery">
              
              <div class="col-4">
                <a href="images/gal_1.jpg" class="gal-item" data-fancybox="gal"><img src="{{image.img1.url}}" alt="Image" class="img-fluid" style="height:100px;"></a>
              </div>

              <div class="col-4">
                <a href="images/gal_1.jpg" class="gal-item" data-fancybox="gal"><img src="{{image.img2.url}}" alt="Image" class="img-fluid" style="height:100px;"></a>
              </div>

              <div class="col-4">
                <a href="images/gal_1.jpg" class="gal-item" data-fancybox="gal"><img src="{{image.img3.url}}" alt="Image" class="img-fluid" style="height:100px;"></a>
              </div>

              <div class="col-4">
                <a href="images/gal_1.jpg" class="gal-item" data-fancybox="gal"><img src="{{image.img4.url}}" alt="Image" class="img-fluid" style="height:100px;"></a>
              </div>

              <div class="col-4">
                <a href="images/gal_1.jpg" class="gal-item" data-fancybox="gal"><img src="{{image.img5.url}}" alt="Image" class="img-fluid" style="height:100px;"></a>
              </div>

              <div class="col-4">
                <a href="images/gal_1.jpg" class="gal-item" data-fancybox="gal"><img src="{{image.img6.url}}" alt="Image" class="img-fluid" style="height:100px;"></a>
              </div>
              
            </div>
            {% else %}
              <h4>--Ooops! No Images Yet !</h4>
            {% endif %}

          </div> <!-- END .custom-block -->
          <!-- END .custom-block -->
        </div>
        <div class="col-lg-4">
          <div class="custom-block" data-aos="fade-up" data-aos-delay="100">
            <h2 class="section-title">Form</h2>
            <form action="{% url 'send_inquery' pk=package.pk %}" method="post" class="contact-form bg-white" >
              {% csrf_token %}
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-black" for="fname">First name</label>
                    <input type="text" name="fname" class="form-control" id="fname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-black" for="lname">Last name</label>
                    <input type="text" name="lname" class="form-control" id="lname">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-black" for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label class="text-black" for="password">Contact No</label>
                <input type="number" name="contact" class="form-control" id="password">
              </div>
              <div class="form-group">
                <label class="text-black" for="message">Message</label>
                <textarea name="msg" class="form-control" id="message" cols="30" rows="5"></textarea>
              </div>
              <input type="submit" class="btn btn-primary" value="Send Inquery"/>
            </form>
          </div>

          <div class="custom-block" data-aos="fade-up">
            <h2 class="section-title">You May Also Can....</h2>
            <ul class="list-unstyled social-icons light">
                {% if cart.cart_status %}
                    <form action="{% url 'remove_from_my_packages' pk=package.pk %}" method="post">
                      {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Remove from My packages"/>
                    </form>

                  {% else %}
                    <form action="{% url 'add_to_my_packages' pk=package.pk %}" method="post">
                      {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Add to My packages"/>
                    </form>
                    {% endif %}
            </ul>
          </div> <!-- END .custom-block -->
        </div>
      </div>

    </div>
  </div>


{% endblock %}